# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.conda/

# Training outputs
runs/
outputs/
logs/

# Model weights
*.pt
!pretrained_models/*.pt

*.onnx
*.engine

# Dataset
datasets/
data/
images/
labels/

# System files
.DS_Store
Thumbs.db

# Dataset configs (keep only yaml/data.yaml.example)
yaml/data*.yaml
!yaml/data.yaml.example

# IDE
.vscode/
.idea/